<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Alex</string>
	<key>uuid</key>
	<string>4b5714cb-a5e2-4134-9969-5e96c98ea1dd</string>
	<key>contactName</key>
	<string>Pouya Kary</string>
	<key>description</key>
	<string>Lex/&lt;a href=&quot;http://www.freebsd.org/cgi/man.cgi?query=flex&quot;&gt;Flex&lt;/a&gt; is a lexical analyzer generator.</string>
</dict>
</plist>
